<template>
  <span style="display:flex" v-html="iconHtml"></span>
</template>

<script>
const feather = require("feather-icons")

export default {
  props: ["name", "size"],
  created() {
    this.iconHtml = feather.icons[this.name].toSvg({
      width: this.size,
      height: this.size
    })
  }
}
</script>
