<template>
  <div :class="$style.progressOuter">
    <div :class="$style.progressTextOuter">
      <span :class="$style.progressText">{{ progress.task }}</span>
      <span :class="[$style.progressText, $style.progressTextRight]">{{ progressEta }}</span>
    </div>
    <progress :value="progress.progress" max="1" :class="$style.progress"/>
  </div>
</template>

<style module>
.progressOuter {
  display: flex;
  flex-direction: column;
}

.progressTextOuter {
  display: flex;
}

.progress {
  border-radius: 3px;
  width: 100%;
  height: 8px;
  border: 1px solid #42b3bd;
  padding: 2px;
  background-color: transparent;
}

.progress::-webkit-progress-bar {
  background-color: transparent;
}

.progress::-webkit-progress-value {
  background-color: #42b3bd;
  border-radius: 2px;
  height: 2px;
}

.progress.failed {
  border-color: #ff0000;
}

.progress.failed::-webkit-progress-value {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAFUlEQVQImWNgQAKLFi3yJZXDwMAAAC1pCM0bmi5BAAAAAElFTkSuQmCC")
      repeat,
    linear-gradient(#cc3333, #ad0000);
}

.progressText {
  font-size: 14px;
  margin-bottom: 4px;
  flex-grow: 1;
}

.progressTextRight {
  text-align: right;
}
</style>

<script>
import { mapState } from "vuex"
import prettyMs from "pretty-ms"

export default {
  computed: {
    ...mapState(["progress"]),
    progressEta() {
      return ""
      // if (this.progress.eta == null) {
      //   return ""
      // }
      // return prettyMs(this.progress.eta >= 1000 ? this.progress.eta : 1000, {
      //   secDecimalDigits: 0
      // })
    }
  }
}
</script>

