<template>
  <div :class="$style.spinner">
    <div :class="$style.spinnerElement"></div>
    <span :class="$style.spinnerText">
      <slot></slot>
    </span>
  </div>
</template>

<style lang="scss" module>
@keyframes :global(spinner) {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  display: flex;
  flex-direction: column;
}

.spinnerElement :global {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: solid 5px transparent;
  border-bottom: solid 5px #ddd;

  transform-origin: center;
  transform: rotate(0deg);
  will-change: transform;
  animation: 1.1s infinite linear spinner;

  align-self: center;
}

.spinnerText {
  text-transform: uppercase;
  margin-top: 8px;
  align-self: center;
}
</style>

