<template>
  <div :class="$style.titlebar">
    <div :class="$style.dragArea"></div>
    <div :class="$style.buttonGroup">
      <a href="#" v-if="!externalLaunch" :class="$style.tbTextIcon" @click="openServers">Servers</a>
      <a href="#" :class="$style.tbIcon" @click="openSettings">
        <icon size="24" name="settings"/>
      </a>
      <a href="#" :class="$style.tbIcon" @click="exit">
        <icon size="24" name="x-circle"/>
      </a>
    </div>
  </div>
</template>

<style lang="scss" module>
.titlebar {
  height: 76px;
  display: flex;
}

.dragArea {
  flex-grow: 1;
  -webkit-app-region: drag;
}

.buttonGroup {
  display: flex;
  align-self: flex-start;
  padding-right: 32px;
  padding-top: 24px;
}

.buttonGroup > * {
  margin-right: 4px;
}

.buttonGroup > *:last-child {
  margin-right: 0px;
}

.tbTextIcon {
  text-decoration: none;
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 8px;
  border: 1px solid white;
  padding: 4px;
  border-radius: 6px;
  line-height: 14px;
}

.tbIcon {
  height: 24px;
}
</style>

<script>
import { ipcRenderer } from "electron"
import { mapState } from "vuex"

export default {
  computed: mapState(["externalLaunch"]),
  methods: {
    openSettings() {
      if (this.$router.currentRoute.path == "/main/settings") {
        this.$router.push("/main/server/login")
      } else {
        this.$router.push("/main/settings")
      }
    },
    openServers() {
      ipcRenderer.send("open-servers")
    },
    exit() {
      window.close()
    }
  }
}
</script>


