button {
    border-radius: 6px;
    text-transform: uppercase;
    font-family: Akrobat;
    background: transparent;
    position: relative;
    z-index: 2;
    height: 36px;
    margin-bottom: 14px;
}

button:last-child {
    margin-bottom: 0px;
}

button:not(.button-outlined) {
    &:disabled {
        filter: #{"grayscale()"};
    }

    &:not(:disabled):hover {
        filter: #{"brightness(115%)"}; 
    }
}

button:not(:disabled):active {
    filter: #{"contrast(150%)"};
}

.button-outlined:not(:hover)::before {
    opacity: 0;
}

@mixin button-color($name, $border, $c1, $c2) {
    .button-#{$name} {
        border: 1px solid $border;
    }

    .button-#{$name}::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 5px;
        height: 100%;
        z-index: -1;
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAADklEQVQImWNggABfOAEABJUAmwkly2kAAAAASUVORK5CYII=") repeat,
            linear-gradient(to bottom right, $c1, $c2);
        opacity: 1;
        transition: opacity 150ms ease-in-out;
    }
}

@include button-color("cyanish", #42b3bd, #2aa992, #164c65);
@include button-color("red", #ff0000, #cc3333, #ad0000);
@include button-color("green", #2feb00, #10bd00, #0faf00);