@import 'fonts.scss';
@import 'utility.scss';
@import 'button.scss';

body {
    font-family: Akrobat;
    background-color: #161c24;
}

*:not(use) {
    box-sizing: border-box;
    color: white;
}

input:not([type="checkbox"]) {
    border-radius: 6px;
    border: 1px solid #42b3bd;
    outline: none;
    padding: 10px;
    background: transparent;
    width: 100%;

    &:not(:last-child) {
        margin-bottom: 14px;
    }
}

input.email {
    background: url(mail.svg);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding-left: 16+8+8px;

    &:focus {
        background: transparent;
        padding-left: 8px;
    }
}

input.password {
    background: url(lock.svg);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding-left: 16+8+8px;

    &:focus {
        background: transparent;
        padding-left: 8px;
    }
}

input.ticket {
    background: url(link.svg);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding-left: 16+8+8px;

    &:focus {
        background: transparent;
        padding-left: 8px;
    }
}

select {
    border-radius: 6px;
    border: 1px solid #42b3bd;
    outline: none;
    padding: 10px;
    background: transparent;
    width: 100%;
    -webkit-appearance: none;

    background-image: url(chevron-down.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) 7px;

    &:not(:last-child) {
        margin-bottom: 14px;
    }
}

select > option {
    color: black;
}

::-webkit-input-placeholder {
    color: #ddd;
}

.checkbox {
    user-select: none;
    
    &:not(:last-child) {
        margin-bottom: 14px;
    }
}

.checkbox > input {
    z-index: 2;
    visibility: hidden;
    height: 14px;
    width: 14px;
    margin-bottom: 1;
}

.checkbox > label {
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.checkbox > label::before {
    content: '';
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: -21px;
    bottom: 1px;
    width: 14px;
    height: 14px;
    background: #0c1218;
    border-radius: 7px;
}

.checkbox > input:checked ~ label::before {
    background: linear-gradient(#21c4c6, #169394);
    border: 3px solid #0c1218;
}

html, body, #app {
    margin: 0;
    height: 100%;
}

#grid-container {
    flex-grow: 1;
    padding: 31px;
    padding-right: 32px;
    padding-left: 38px;
    box-sizing: border-box;
    display: grid;
    grid-auto-columns: auto 260px;
    grid-auto-rows: auto min-content;
    grid-template-areas: "news login" "download play";
    grid-column-gap: 36px;
}

.icon {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

button {
    outline: none;
}

#login {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

#play {
    height: 55px;
}

#logout {
    height: 36px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.mt-auto {
    margin-top: auto;
}

.mb-14 {
    margin-bottom: 14px;
}

.label {
    margin-bottom: 4px;
}
