<template>
  <black-overlay>
    <transition name="fade" mode="out-in">
      <spinner v-if="starting">Game starting</spinner>
      <span v-else style="text-transform: uppercase">Game running</span>
    </transition>
  </black-overlay>
</template>

<script>
import { remote } from "electron"

import Spinner from "./components/Spinner"
import BlackOverlay from "./components/BlackOverlay"

export default {
  components: {
    spinner: Spinner,
    "black-overlay": BlackOverlay
  },
  data() {
    return {
      starting: true
    }
  },
  created() {
    setTimeout(() => {
      this.starting = false
      remote.getCurrentWindow().hide()
    }, 5000)
  }
}
</script>

