<template>
  <div id="app" :class="$style.appFlex">
    <titlebar/>
    <transition name="fade" mode="out-in">
      <router-view :class="$style.appContent"/>
    </transition>
  </div>
</template>

<style module>
.appFlex {
  display: flex;
  flex-direction: column;
  background: url(./style/mainwindow.png),
    linear-gradient(to bottom right, #173144, #161c24);
}

.appContent {
  flex-grow: 1;
  padding: 16px;
}
</style>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>

<script>
import Titlebar from "./components/Titlebar"
import { ipcRenderer, remote } from "electron"
import makeStore from "./store"
import { DiscordPresence } from "./lib/discord-rpc"
import { configStore } from "./index"

export default {
  components: {
    titlebar: Titlebar
  },
  created() {
    this.$store.state.analytics
      .screenview("Main Window", "electron-launcher")
      .send()
    ipcRenderer.removeAllListeners("select-server")
    ipcRenderer.on("select-server", (_evt, srv) => {
      this.$store.dispatch("setCurrentServer", srv)
    })
    const launchParams = remote.getGlobal("launchParams")
    const lastServer = this.$config.get("lastServer")
    if (launchParams.address) {
      this.$store.commit("setExternalLaunch")
      this.$store.dispatch("setCurrentServer", launchParams.address)
      if (launchParams.token && launchParams.userId) {
        // this.$store.dispatch("launchGame", {
        //   token: launchParams.token,
        //   userId: launchParams.userId,
        //   email: "weblogin"
        // })
      }
    } else if (lastServer) {
      this.$store.dispatch("setCurrentServer", lastServer)
    }
    this.$store.dispatch("startDownloader")
  },
  store() {
    console.log("init store")
    const discordRPC = new DiscordPresence("465597174374334474")
    return makeStore(configStore, discordRPC)
  }
}
</script>