<template>
  <div class="flex-column">
    <div id="login">
      <button
        class="button-red button-outlined fullwidth"
        @click="$router.push('/main/server/login')"
        :disabled="processing"
      >Cancel</button>
      <input type="email" ref="email" class="email" required>
      <input type="password" ref="password" class="password" required>
      <input
        v-if="serverInfo.requireTicket"
        type="text"
        ref="ticket"
        class="ticket"
        placeholder="Ticket"
        required
      >
      <button
        class="button-cyanish"
        id="play"
        @click="register"
        :disabled="!serverLoaded || !downloadCompleted || processing"
      >Register and play</button>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex"

export default {
  computed: {
    ...mapState({
      serverInfo: "serverInformation",
      serverLoaded: "serverLoaded",
      downloadCompleted: "downloadCompleted"
    })
  },
  data() {
    return {
      processing: false
    }
  },
  methods: {
    async register() {
      this.processing = true
      const creds = {
        email: this.$refs.email.value,
        password: this.$refs.password.value
      }
      if (this.serverInfo.requireTicket) {
        creds["inviteTicket"] = this.$refs.ticket.value
      }
      await this.$store.dispatch("register", creds)
      this.$router.push("/main/server/login")
      this.processing = false
    }
  }
}
</script>

