<template>
  <div class="flex-column">
    <server-info />
    <transition name="fade" mode="out-in">
      <router-view class="flex-grow" />
    </transition>
    <Progress />
  </div>
</template>

<script>
import ServerInfo from "./components/ServerInfo"
import Progress from "./components/Progress"

export default {
  components: {
    "server-info": ServerInfo,
    Progress
  }
}
</script>
