<template>
  <div id="app" class="flex flex-column" :class="$style.serversWindow">
    <div class="table-wrapper flex-grow">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Server Name</th>
            <th>Server Address</th>
            <th>Ping</th>
            <th></th>
          </tr>
        </thead>
        <tbody :class="$style.srvTableBody">
          <tr
            v-for="server in serversSorted"
            :key="server.address"
            :style="{ 'background-color': serverColor(server) }"
            :class="{ active: selectedServer == server.address }"
            @click="selectServer(server.address)"
          >
            <td style="width:32px">
              <icon
                title="Server uses HTTPS"
                v-if="server.address.indexOf('https') === 0"
                size="16"
                name="lock"
              />
            </td>
            <td>{{ server.name }}</td>
            <td>{{ addrHost(server.address) }}</td>
            <td>{{ server.ping || "---" }}</td>
            <td style="width:32px">
              <div v-if="server.custom" @click.stop="removeServer(server)">
                <icon size="16" name="x" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <form class="flex add-control" @submit.prevent="addServer">
      <div class="text">Add server:</div>
      <input ref="serverNameInput" class="flex-grow" placeholder="Name" />
      <input ref="serverInput" class="flex-grow" placeholder="Address" />
      <button class="button-cyanish button-outlined">Add</button>
    </form>
  </div>
</template>

<style scoped>
.table-wrapper {
  border-radius: 4px;
  border: 1px solid #152f41;
  overflow-y: hidden;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: #142532;
}

tr.active {
  background-color: #2b5677 !important;
}

td,
th {
  border-bottom: thin solid #152f41;
  padding-left: 8px;
  padding-right: 8px;
  text-align: left;
  height: 24px;
}

tr:last-child > * {
  border-bottom: none;
}

.add-control {
  margin-top: 16px;
  align-items: center;
  margin-left: -12px;
}

.add-control .text {
  white-space: nowrap;
  margin-top: -2px;
}

.add-control > * {
  margin-left: 12px;
  margin-bottom: 0 !important;
}
</style>

<style module>
.serversWindow {
  padding: 16px;
  background-color: #151e28;
}

.srvTableBody {
  cursor: pointer;
}
</style>

<script>
import got from "got"
import { ipcRenderer } from "electron"
const logger = require("./lib/logger").default("ServersWindow")
import Icon from "./components/Icon"
import util from "util"
import dns from "dns"
import { Ping } from "./lib/ping"
import fs from "fs"
import path from "path"
import { remote } from "electron"

const localServerList = path.join(remote.app.getPath("userData"), "servers.txt")

export default {
  components: {
    icon: Icon
  },
  data() {
    return { servers: [], selectedServer: null }
  },
  computed: {
    serversSorted() {
      return this.servers.concat().sort((a, b) => {
        if (a.ping === null) {
          return 1
        }
        if (b.ping === null) {
          return -1
        }
        return a.ping - b.ping
      })
    }
  },
  async created() {
    const servers = []
    const res = await got(
      "https://gist.githubusercontent.com/redbluescreen/326c0b184dddaca19594cccc47baf4f6/raw/serverlist.txt"
    )
    for (const line of res.body.split("\n")) {
      if (line.trim() === "") continue
      const spl = line.split(";")
      servers.push({
        name: spl[0],
        address: this.normalizeAddr(spl[1]),
        status: "unknown",
        ping: null,
        infoCache: null
      })
    }
    if (fs.existsSync(localServerList)) {
      const file = fs.readFileSync(localServerList, "utf-8")
      for (const line of file.split("\r\n")) {
        if (line.trim() === "") continue
        const spl = line.split(";")
        servers.push({
          name: spl[0],
          custom: true,
          address: this.normalizeAddr(spl[1]),
          status: "unknown",
          ping: null,
          infoCache: null
        })
      }
    }
    this.servers = servers
    this.fetchStatusAll()
  },
  methods: {
    async fetchStatusAll() {
      const pinger = new Ping()
      for (const server of this.servers) {
        await this.fetchStatus(server, pinger)
      }
      pinger.close()
    },
    async fetchStatus(server, pinger) {
      logger.log("Fetching server " + server.name)
      try {
        const res = await got(server.address + "/GetServerInformation", {
          json: true,
          retry: 0,
          timeout: 1500
        })
        this.$set(server, "infoCache", res.body)
        this.$set(server, "status", "online")
      } catch (e) {
        logger.log("Fetch error: " + e)
        this.$set(server, "status", "offline")
        return
      }
      try {
        const hostname = new URL(server.address).hostname
        const ip = await util.promisify(dns.lookup)(hostname, 4)
        const ping = await pinger.ping(ip.address)
        this.$set(server, "ping", ping)
      } catch (e) {
        logger.log("Ping failure: " + e)
      }
    },
    saveLocalServers() {
      let data = ""
      for (const server of this.servers) {
        if (server.custom) {
          data += server.name + ";" + server.address + "\r\n"
        }
      }
      fs.writeFileSync(localServerList, data)
    },
    addServer() {
      const address = this.normalizeAddr(this.$refs.serverInput.value)
      for (const server of this.servers) {
        if (address === server.address) {
          return
        }
      }
      const srv = {
        name: this.$refs.serverNameInput.value,
        custom: true,
        address,
        status: "unknown",
        ping: null,
        infoCache: null
      }
      this.servers.push(srv)
      const pinger = new Ping()
      this.fetchStatus(srv, pinger)
      pinger.close()
      this.saveLocalServers()
      this.$refs.serverInput.value = ""
      this.$refs.serverNameInput.value = ""
    },
    removeServer(srv) {
      const i = this.servers.indexOf(srv)
      this.$delete(this.servers, i)
      this.saveLocalServers()
    },
    serverColor(srv) {
      if (srv.status === "online") {
        return "#2ECC40"
      } else if (srv.status === "offline") {
        return "#FF4136"
      }
      return "#FFDC00"
    },
    addrHost(addr) {
      return new URL(addr).host
    },
    normalizeAddr(addr) {
      if (!/^https?:\/\//.test(addr)) {
        addr = "http://" + addr
      }
      if (!/\/[^\/]+\/Engine\.svc$/.test(addr)) {
        addr += "/soapbox-race-core/Engine.svc"
      }
      return addr
    },
    selectServer(addr) {
      this.selectedServer = addr
      ipcRenderer.send("select-server", addr)
    }
  }
}
</script>
